.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries--first {
  justify-content: right;
}

.countries--second {
  justify-content: space-between;
}

.countries--third {
  justify-content: end;
  flex-direction: column;
}

.countries--fourth {
  justify-content: space-between;
  flex-direction: column-reverse;
}
